p,ul,dl,table
{
    font-size: 16px;
    color: rgb(69, 63, 92);
}

h1
{
    color: darkblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h2
{
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
}

dt
{
    font-weight: bold;
}

.header-footer
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    background-color: aqua;
    margin-top: 10px;
    margin-right: 5px;
}

.center-table
{
    margin-left: auto;
    margin-right: auto;
}

.margin-left
{
    margin-left: 20px;
}

.main-background-color
{
    background-color:aliceblue;
    padding: 5px;
}